name: Deploy Sanity Studio

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
      - master
    paths-ignore:
      - apps/**
env:
  SANITY_AUTH_TOKEN: ${{ secrets.SANITY_AUTH_TOKEN }}
  STUDIO_HOSTNAME: ${{ vars.STUDIO_HOSTNAME }}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}-deploy

jobs:
  deploy-development-studio:
    name: Deploy development studio
    uses: "./.github/workflows/job-deploy-studio.yml"
    secrets: inherit
    with:
      STUDIO_HOSTNAME: development
      STUDIO_TITLE: development

  deploy-production-studio:
    needs: [deploy-development-studio]
    name: Deploy production studio
    uses: "./.github/workflows/job-deploy-studio.yml"
    secrets: inherit
    with:
      STUDIO_HOSTNAME: production
      STUDIO_TITLE: production
