name: Dependabot

on:
  workflow_call:
    inputs:
      STUDIO_HOSTNAME:
        required: true
        type: string

permissions:
  contents: read
  pull-requests: write

env:
  SANITY_AUTH_TOKEN: ${{ secrets.SANITY_AUTH_TOKEN }}
  STUDIO_HOSTNAME: ${{ inputs.STUDIO_HOSTNAME }}

concurrency:
  group: "dependabot"

jobs:
  deploy:
    defaults:
      run:
        working-directory: ./studio
    name: Build
    runs-on: ubuntu-22.04

    environment:
      name: Development
      url: ${{ steps.deploy.outputs.STUDIO_URL }}

    steps:
      - uses: actions/checkout@v4
      - run: corepack enable

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: yarn
      - run: yarn install --immutable

      - name: Set Studio hostname
        run: echo "SANITY_STUDIO_HOSTNAME=${STUDIO_HOSTNAME}-pr-${{ github.event.pull_request.number }}" >> $GITHUB_ENV

      - name: Build Sanity Studio
        id: deploy
        run: yarn build
