name: PR trigger

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: write

env:
  SANITY_AUTH_TOKEN: ${{ secrets.SANITY_AUTH_TOKEN }}
  STUDIO_HOSTNAME: ${{ vars.STUDIO_HOSTNAME }}

concurrency:
  group: "main-trigger"

jobs:
  dependabot:
    name: Dependabot
    if: github.actor == 'dependabot[bot]'
    uses: "./.github/workflows/job-dependabot.yml"
    secrets: inherit
    with:
      STUDIO_HOSTNAME: ${{ vars.STUDIO_HOSTNAME }}
  deploy-studio:
    name: Deploy ephemeral studio
    if: github.actor != 'dependabot[bot]'
    uses: "./.github/workflows/job-deploy-studio.yml"
    secrets: inherit
    with:
      STUDIO_HOSTNAME: "${{ vars.STUDIO_HOSTNAME }}-pr-${{ github.event.pull_request.number }}"
      STUDIO_TITLE: "ephemeral-pr-${{ github.event.pull_request.number }}"
  ci:
    name: CI checks
    if: github.actor != 'dependabot[bot]'
    uses: "./.github/workflows/ci.yml"
    secrets: inherit
