name: Deploy Sanity Studio

permissions:
  contents: write
  pull-requests: write

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}-schema

jobs:
  release:
    name: Release
    runs-on: ubuntu-22.04
    environment:
      name: Development
    steps:
      - uses: actions/checkout@v5
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}

      - name: corepack enable
        run: corepack enable

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: yarn
      - run: yarn install --immutable

      - name: git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Release
        run: yarn run release
